{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main" }}
<div id="hero" class="wrap">
    <h1>{{.Title }}</h1>
    {{ if .Params.author }}
    <p><a href="{{ "/author" | relURL }}/{{.Params.author | urlize}}">{{.Params.author}}</a></p>
    {{ end }}
    <p>{{dateFormat "Monday, Jan 2, 2006" .Params.date}}</p>
</div>
<article class="content col col-12">
    {{ .Content }}
    {{ if .CurrentSection }}
    <a href="{{.CurrentSection.Permalink}}">Back to Issue</a>
    {{ end }}
</article>

{{ end }}

{{ define "footer" }}
  {{ partial "footer" . }}
{{ end }}
