{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main" }}
<div id="main">
    <div id="hero" class="wrap">
        {{ if hasPrefix .Section "issue" }}
            <h1>{{ (index $.Site.Data.issues (sub (int ((slicestr .Section 6)|strings.TrimLeft "0")) 1)).title }}</h1>
            <p>Issue {{ (slicestr .Section 6) | strings.TrimLeft "0" }}</p>
        {{ end }}
    </div>
    <div class="content col col-12">
        {{ .Content }}
    </div>
    <div class="content col col-12">
        {{ range .Paginator.Pages.ByWeight }} {{ partial "page-summary" . }} {{ end }}
    </div>
</div>
{{ end }}

{{ define "footer" }}
{{ partial "footer" . }}
{{ end }}
